html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: white;
}

* {
    /* font-size: 15pt; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

header {
    /* grid-template-rows: 40% 10% 40%;
    display: grid; */
    height: 55px;
    width: 100%;
    display: inline-block;
    position: fixed;
    top: 0;
    background-color: white;
}

header>a>img {
    width: 50px;
    left: 48%;
    right: 48%;
    /* margin-left: 50%;
    margin-right: 50%; */
    position: absolute;
}

header>.socials {
    top: 13px;
    position: absolute;
}

header>.socials>a>img {
    margin-left: 15px;
    width: 30px;
    display: inline;
}

header>span {
    top: 13px;
    position: absolute;
    right: 0;
}

header>span>a {
    font-size: 15pt;
    margin-right: 15px;
    text-transform: uppercase;
}

header>span>a:nth-of-type(1):hover {
    color: #E52D17;
}

header>span>a:nth-of-type(2):hover {
    color: #E1D419;
}

header>span>a:nth-of-type(3):hover {
    color: #699b43;
}

header>span>a:nth-of-type(4):hover {
    color: #7195CD;
}

header>span>a:nth-of-type(5):hover {
    color: #f39220;
}
/* 
header>span>a:nth-of-type(1):hover {
    color: rgb(255, 83, 83);
}

header>span>a:nth-of-type(2):hover {
    color: rgb(245, 245, 102);
}

header>span>a:nth-of-type(3):hover {
    color: limegreen;
}

header>span>a:nth-of-type(4):hover {
    color: rgb(89, 89, 240);
}

header>span>a:nth-of-type(5):hover {
    color: rgb(255, 191, 73);
} */

header>span>a:nth-of-type(1):active {
    color: darkred;
}

header>span>a:nth-of-type(2):active {
    color: yellowgreen;
}

header>span>a:nth-of-type(3):active {
    color: green;
}

header>span>a:nth-of-type(4):active {
    color: darkblue;
}

header>span>a:nth-of-type(5):active {
    color: darkorange;
}

main{
    text-align: center;
    margin-top: 60px;
}

h1{
    font-size: 32pt;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-bottom: 7px;
}

.featured, .new-releases {
    background-color: black;
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.featured>a>img, .new-releases>a>img {
    opacity: 0.5;
    height: 27.5vw;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.featured>a>img:hover, .new-releases>a>img:hover{
    opacity: 0.8;
}

.shop{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

/* .ShopContainer>a{
    color: black;
    display: inline-block;
    border: 1px solid black;
    border-radius: 0.5em;
    width: 275px;
    height: 350px;
}*/

/* .shop>a>img{
    width: 100%;
    max-width: 275px;
    max-height: 300px;
    border-radius: 0.5em;
    bottom: 0;
} */



.ShopContainer{
    display: grid;
    grid-template-rows: 250px 50px 50px;
    grid-template-columns: 50% 50%;
    width: 275px;
    height: 350px;
    border-radius: 0.5em;
    border: 1px solid lightgray;
    margin-left: 50px;
    margin-top: 20px;
    padding: 5px;
    overflow: hidden;
}

.ShopContainer>a{
    grid-column: span 2;
    /* vertical-align: baseline; */
}

.ShopContainer>span{
    grid-row: 2;
    grid-column: span 2;
}

.ShopContainer>a>img{
    max-height: 225px;
    max-width: 275px;
    border-radius: 0.5em;
}

.buyBtn, .addToCartBtn{
    margin-left: 2px;
    align-self: center;
    grid-row: 3;
    grid-column: 1;
    width: 130px;
    height: 50px;
    border-radius: 0.5em;
    background-color: rgba(0, 175, 0, 1);
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-bottom: 10px rgba(0, 175, 0, 1) ridge;
}

.buyBtn:hover, .addToCartBtn:hover{
    border-bottom-width: 7px;
    margin-top: 1px;
}

.buyBtn:active, .addToCartBtn:active{
    margin-top: 2px;
    border-bottom: none;
}

.addToCartBtn{
    grid-column: 2;
    margin-left: 4px;
    background-color: rgba(200, 200, 200, 1);
    border-bottom-color: rgba(200, 200, 200, 1);
}

/* .shop>i{
    grid-row: 1;
} */

/* .ShopContainer>span{
    position: absolute;
    bottom: 50px;
} */

@media only screen and (max-width: 1250px) {
/*     
    header>a>img{
        left: 43%;
        right: 43%;
    } */

    header>span{
        top: 15px;
    }
    
    header>span>a {
        font-size: 12pt;
    }
}